<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="SqlUnitTesting_VS2012" type="Microsoft.Data.Tools.Schema.Sql.UnitTesting.Configuration.SqlUnitTestingSection, Microsoft.Data.Tools.Schema.Sql.UnitTesting, Version=11.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
    <section name="TempDbSettings" type="Fourth.Sql.Test.Harness.Configuration.TempDbSettingsSection, Fourth.Sql.Test.Harness" allowDefinition="Everywhere" allowLocation="true"/>
  </configSections>
  <SqlUnitTesting_VS2012>
    <ExecutionContext Provider="System.Data.SqlClient" ConnectionString="Server=ASDF;Database=ASDF;User Id=ASDF;Password=ASDF;" CommandTimeout="30"/>
    <PrivilegedContext Provider="System.Data.SqlClient" ConnectionString="Server=ASDF;Database=ASDF;User Id=ASDF;Password=ASDF;" CommandTimeout="30"/>
  </SqlUnitTesting_VS2012>
  <TempDbSettings>
    <sourceDb serverInstance="localhost" databaseName="ASDF" userName="ASDF" password="ASDF"/>
    <targetDb serverInstance="localhost" databaseName="ASDF" userName="ASDF" password="ASDF" dataFilePath="c:\sql\testing\ASDF.df" logFilePath="c:\sql\testing\GHS4001_OLTPRelease08QAUnitTests_log.ldf" tempFilePath="c:\sql\testing\ASDF.sql" />
  </TempDbSettings>
  <connectionStrings>
    <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Server=ASDF;Database=ASDF;User Id=ASDF;Password=ASDF;" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
</configuration>
